*, *::before, *::after {
    box-sizing: border-box;
}

body {
    z-index: 9;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: aliceblue;
    margin: 0 auto;
}

header {
    position: absolute;
    background-color: green;
    width: 100%;
    height: fit-content;
    color: white;
    text-align: center;
    padding: 10px 0px;
    font-family: 'Luckiest Guy', cursive;
}

header a {
    color: yellow;
}

#work {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.maelezo1 input {
    margin-bottom: 12px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    height: 44px;
    padding: 30px 10px;
    border-radius: 12px;
}

.maelezo1 input::placeholder {
    font-weight: normal;
    font-size: small;
}

.maelezo1 button {
    background-color: yellow;
    padding: 10px 10px;
    font-weight: bold;
    font-size: large;
    border: black solid 1px;
    color: black;
    border-radius: 6px;
    font-family: 'Carter One', cursive;
}

.maelezo1 button:hover, .maelezo1 button:active {
    background-color: black;
    border: yellow solid 1px;
    color: yellow;
}

#typing:after {
    content: ' . ';
    animation: dots 2s steps(5, end) infinite;
    font-size: medium;
}
  
  @keyframes dots {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    40% {
      color: black;
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    60% {
      text-shadow:
        .25em 0 0 black,
        .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
      text-shadow:
        .25em 0 0 black,
        .5em 0 0 black;}}
  

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 4px;
    font-family: 'Carter One', cursive;
}

footer a {
    color: yellow;
}

#ujumbe {
    color: red;
    font-size: smaller;
}

#drama {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
}

header button, footer button {
    color: yellow;
    font-size: medium;
    font-weight: bold;
}

.maelezo1 #drama {
    font-size: medium;
    color: brown;
}

.maelezo1 {
    font-family: 'Itim', cursive;
    padding: 5px 10px;
}

#display-download {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 80%;
    z-index: 999;
    display: none;
}

#message-container {
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 10px 10px;
}

#message-container #download-file {
    background-color: magenta;
    color: black;
    margin-top: 12px;
    border: 1px black solid;
    border-radius: 4px;
    padding: 5px 5px;
    font-family: 'Carter One', cursive;
    font-size: medium;
    text-decoration: none;
}

#message-container #this-is-message {
    text-align: initial;
}

#overlay {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    color: blue;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.75;
    display: none;
}

#header-message {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: bolder;
}

#header-message button {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: magenta;
}

#completed {
    background-color: green;
}

#ongoing {
    background-color: yellow;
}

table {
    border: 1px solid black;
    background-color: bisque;
    border-radius: 12px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid black;
    padding: 4px 4px;
    border-radius: 3px;
}

#history {
    background-color: whitesmoke;
    border-radius: 14px;
    padding: 10px 10px;
    color: black;
    width: 500px;
    max-width: 90%;
    margin-bottom: 90px;
    transform: translateX(5%);
}

#constant-msg {
    line-height: 24px;
}
#profile {
    font-size: larger;
    font-weight: bolder;
}


@media screen and (min-width: 400px) {
    body {
        margin: 0 auto;
        width: 400px;
        background-color: aliceblue;
        box-shadow: gray -20px 0 10px, gray 20px 0 10px;
}

   table {
    margin: 0 auto;
    width: 90%;
   }

   #history {
       margin: 10 auto;
       transform: translateX(5%);
       background-color: whitesmoke;
   }
}

@media screen and (min-width: 700px) {
    body {
        margin: 0 auto;
        width: 700px;
        background-color: aliceblue;
        box-shadow: gray -20px 0 10px, gray 20px 0 10px;
}

   table {
    margin: 0 auto;
    width: 90%;
   }

   #history {
       margin: 10 auto;
       transform: translateX(15%);
       background-color: whitesmoke;
   }
}

#adsterra {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 95%;
}

#adsterra2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#a-ads1 {
    margin: 0 auto;
    width: 90%;
}

#a-ads2 {
    margin: 0 auto;
    width: 90%;
}

#separator {
    background-color: black;
    width: 2px;
    height: 300px;
}
