*, *::before, *::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    position: relative;
    background-color: aliceblue;
    margin: 0;
}

header {
    position: absolute;
    background-color: green;
    width: 100%;
    height: fit-content;
    color: white;
    text-align: center;
    padding: 10px 0px;
    font-family: 'Luckiest Guy', cursive;
}

header a {
    color: yellow;
}

.maelezo1 {
    font-family: 'Itim', cursive;
    padding: 5px 10px;
}

h1 {
    font-size: medium;
}

#below-list {
    padding: 0 16px;
}

.main-container-ongoing, .main-container-list2 {
    background-color: yellow;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 100px;
}

.drama-container {
    background-color: white;
    width: 320px;
    margin: 0 auto;
    padding: 15px 15px;
    border-radius: 10px;
    text-align: center;
}

.drama-container .header {
    font-size: large;
    font-weight: bold;
    border-bottom: black 3px solid;
    text-align: left;
}

.drama-container ul {
    text-align: left;
}

.drama-container a {
    margin: 0 auto;
    background-color: magenta;
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
    border-radius: 5px;
    width: 90%;
    padding: 4px 5px;
    color: black;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: left;
    height: fit-content;
    padding: 8px 8px;
    font-family: 'Carter One', cursive;
    margin-bottom: 0;
}

footer a {
    color: yellow;
}

#ujumbe {
    color: red;
    font-size: smaller;
}

#drama {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
}

header button, footer button {
    color: yellow;
    font-size: medium;
    font-weight: bold;
}



@media screen and (min-width: 400px) {
    body {
        margin: 0 auto;
        width: 400px;
        background-color: aliceblue;
        box-shadow: gray -20px 0 10px, gray 20px 0 10px;
}
}

@media screen and (min-width: 700px) {
    body {
        margin: 0 auto;
        width: 700px;
        background-color: aliceblue;
        box-shadow: gray -20px 0 10px, gray 20px 0 10px;
}
}

#load-more {
    text-align: center;
}

#load-more button {
    font-size: larger;
    font-weight: bold;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: none;
    padding: 8px 6px;
}

#tangazo {
    text-align: center;
    color: green;
    font-family: monospace;
}


#adsterra {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#adsterra2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    background-color: yellow;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 12px 0;
}

#a-ads1 {
    margin: 0 auto;
    width: 320px;
}

#a-ads2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

hr {
    background-color: aliceblue;
    height: 5px;
    width: 320px;
    border: none;
}
